[Unit]
Description=Pi 5 Fan Control
After=basic.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/home/nicci/pi5-fan-control/fan-control

[Install]
WantedBy=multi-user.target
